@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
h1 {
    color: white; 
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2 {
    
    margin: 0px 0px;
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p {
    margin: 20px 0px;
    color: white;
    opacity: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background-color: black;
    
  }
  a{
    text-align: center;
      color:white;
      border: white;
  }
  video{
      width: 100% !important;
      height: auto !important;
  }

  .overlay{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height:87%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      padding-bottom: 10%;
  }
  #v0{
    position: fixed;
    left: 0;
    top: 0; 
    width: 100%;
    z-index: -1;  
  }
  #set-height{
      display:block;
  }
  .container{
      position: relative;
  }
  button{
   
    border:3px solid white;
    padding: 10px 30px;
    margin: 0 25px;
    background-color: transparent;
    color: white;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  #tracklist{
    margin-top: 1000px;
    margin-left: 50%;
    float: left;
    width: 20%;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  #firstalbum{
    margin-top: 400px;
    margin-left: 60%;
    float: left;
    width: 20%;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
  #secondalbum{
    margin-top: 800px;
    margin-left: 30%;
    float: left;
    width: 20%;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  } 
  #outerfirstcassette{
    margin-top: 500px;
    margin-left: 40%;
    float: left;
    width: 20%;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }  
  #dad {
    color: #59bfff;
    font-family:'Noto Serif', serif;    
font-size: 25px;
    margin-top: 200px;
    margin-left: 60%;
    float: left;
    width: 20%; 
  }
  #dadtwo {
    color: #59bfff;
    font-family:'Noto Serif', serif;    
font-size: 25px;
    margin-top: 100px;
    margin-left: 35%;
    float: left;
    width: 20%;
  }
  #mom {
    color: rgb(255, 217, 0);
    
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-style: italic;    
font-size: 35px;
    margin-top: 30px;
    margin-left: 50%;
    float: left;
    width: 20%; 
  }
  #momtwo {
    color: rgb(255,217,0);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;    
    font-size: 40px;
    margin-top: 50px;
    margin-left: 40%;
    float: left;
    width: 20%;
  }
  #momthree {
    color: rgb(255,217,0);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;    
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 200px;
    margin-left: 30%;
    margin-right: 40%;
    float: left;
    width: 20%;
  }